<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="TCTDBEntities" connectionString="metadata=res://*/Model.TCDataModel.csdl|res://*/Model.TCDataModel.ssdl|res://*/Model.TCDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAZIMAN-PC\SQLEXPRESS;initial catalog=TCTDB;persist security info=True;user id=sa;password=zaq12wsx;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="CampaignURL" value="https://teechip.com/" />
    <add key="CampaignStatsURL" value="https://teechip.com/campaign_stats?campaign=" />
    <add key="CampaignDeleteURL" value="https://teechip.com/api/campaigns/" />
    <!-- DownloadCPInterval: in seconds, default value is 2 * 60 * 60 seconds
    It is used when Auto Download is selected
    -->
    <add key="DownloadCPInterval" value="7200" />
    <add key="DesignContainerW" value="268" />
    <add key="DesignContainerH" value="410.78" />
    <!--Top margin of design for garment-->
    <add key="GarmentMarginTop" value="140" />
    <!--Top margin of design for garment-->
    <add key="GarmentMarginLeft" value="130" />
    <!--Top margin of design for garment-->
    <add key="GarmentBoxWidth" value="170" />
    <!--Top margin of design for garment-->
    <add key="GarmentBoxHeight" value="250" />
    <!--Top margin of deisign for Mug-->
    <add key="MugMarginTop" value="80" />
    <!--Left margin of deisign for Mug-->
    <add key="MugMarginLeft" value="130" />
    <!--Top margin of deisign for Phone-->
    <add key="PhoneMarginTop" value="100" />
    <!--Left margin of deisign for Phone-->
    <add key="PhoneMarginLeft" value="80" />
    
    <add key="MaximumColors" value="30" />
    <!--DownloadImgInterval: in seconds, default value is 60 seconds. 
    The image isn't available immediately after design uploaded, so it's needed to wait before downloading image
    The tool will start downloading image after <DownloadImgInterval> seconds since design uploaded
    Increase value of <DownloadImgInterval> if it is failed to download image after campaing uploaded-->
    <add key="DownloadImgInterval" value="60" />
    <!--AjustMoney: use to adjust the value of profit, total profit, estimated, 
    because teechip return these values as (actual value) * 100
    Change this setting value if you see wrong value of Profit, Total profit, Estimated profit-->
    <add key="AjustMoney" value="100" />
    <!--UploadFBDelay: wait duration before uploading next FB item in seconds. Default value is 5 seconds-->
    <add key="UploadFBDelay" value="5" />

    <add key="EnableFBCrop" value="false" />
  </appSettings>
</configuration>